* {
  margin:0px;
  padding:0px;
}

h2 {
  display: block;
  width: 360px;
  margin: 50px auto;
  font: 50px Monaco,"Fira Code Retina",monospace;
}

#profile {
  display: block;
  margin: 50px auto;
}

p {
  display: block;
  width: 530px;
  margin: 50px auto;
  font: 50px Monaco,"Fira Code Retina",monospace;
}
